<hr>
<div id="copyright">
    <p>&copy; 2011-2013 <a href="mailto:contact@popong.com">Team POPONG</a></p>
</div>
<div id="sociallinks">
    <div id="fb" class="fb-like" data-href="http://facebook.com/teampopong" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    <div id="tw">
      <a href="https://twitter.com/teampopong" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="small">Follow</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
<div id="directlinks">
    <a href="http://facebook.com/teampopong" target="_blank" title="facebook"><img class="icons" src="http://popong.com/static/images/icon-facebook.png" alt="facebook logo"></a>
    <a href="http://twitter.com/teampopong" target="_blank" title="twitter"><img class="icons" src="http://popong.com/static/images/icon-twitter.png" alt="twitter logo"></a>
    <a href="http://vimeo.com/teampopong" target="_blank" title="vimeo"><img class="icons" src="http://popong.com/static/images/icon-vimeo.png" alt="vimeo logo"></a>
    <a href="http://slideshare.com/teampopong" target="_blank" title="slideshare"><img class="icons" src="http://popong.com/static/images/icon-slideshare.png" alt="slideshare logo"></a>
    <a href="http://github.com/popong" target="_blank" title="github"><img class="icons" src="http://popong.com/static/images/icon-github.png" alt="github logo"></a>
</div>
