body {
    margin: 0;
    padding: 0;
}

#container {
    width: 730px;
    margin: 48px auto;
    padding: 0;
}

#main {
    margin-top: 80px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #777;
}

.navbar-search {
  margin-top: 12px;
}
