body {
    margin: 0;
    padding: 0;
}

#container {
    margin: 48px auto;
    padding: 0;
}

#main {
    margin-top: 100px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #777;
}

.navbar-search {
  margin-top: 12px;
}

@media (max-width:767px) {
	#main {
		margin-top: 40px;
	}

	#nav-rss,
	.navbar-search {
		display: none;
	}
}
