/* page */
body {
  padding: 0;
  border-top: none;
  font-family: "helvetica neue", helveltica, arial, sans-serif;
  font-size: 14px;
  line-height: 23px;

  #container {
    max-width: 900px; /*1170px;*/
    margin: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: auto;
  margin-top: 21px;
  margin-bottom: 7px;
}

h1 {
  font-size: 24px;
  line-height: 36px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul, ol {
  margin-bottom: 3px;
}

ul ul, ul ol, ol ol, ol ul {
  list-style: circle;
}

code {
  color: #333333;
}

@media (min-width: 980px) {
  body > #container {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}


/* navigation bar */
.navbar-fixed-top, .navbar-fixed-bottom {
  margin-right: 0px;
  margin-left: 0px;
}

#lang {
  float: right;
  ul {
    margin: 0;
    li {
      display: inline-block;
      font-size: 12px;
      padding: 0px;
    }
  }
}

#github-ribbon {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

@media (max-width: 980px) {
    #github-ribbon {
        display: none;
    }
}

@media (min-width: 980px) {
  #lang {
    margin-top: 15px;
  }
}

.navbar {
  ul {
    margin:0;
    padding-left: 0;
  }
  .nav > li {
    font-size: 12pt;
    a {
      padding: 16px 13px 15px;
    }
  }
}

.nav-pills {
  li > a {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  a {
    color: #777;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .active > a {
    text-decoration: none;
    background-color: #777;
  }
  .active > a:hover {
    color: #eee;
    text-decoration: none;
    background-color: #777;
  }
}

#rss {
  margin: 10px;
  padding: 0;
  img {
    width: 30px;
  }
}

#rss-box{
    padding: 20px 0;
    text-align: center;
    .rss-option {
        font-size: 30px;
        font-weight: bold;
        a {
            color: white;
            background: olivedrab;
            line-height: 70px;
            text-shadow: 1px 1px #553;
            margin: 10px;
            padding: 7px 15%;
            border-radius: 1em;
            border: 3px solid #97ca00;
            &:hover {
                color: #97ca00;
                background: #335a00;
                text-decoration: none;
            }
        }
    }
}

#copyright {
  float: left;
}

#directlinks {
  float: right;
  padding-bottom: 10px;
  img {
    padding: 0 3px;
  }
}


/* posts */
header {
  margin-bottom: 30px;

  .meta-author, .meta-date {
    color: #999;
    text-align: right;
  }
}

body #container {
  padding: 0 10%;
}

@media (max-width: 980px) {
  body #container{
    padding: 0 3%;
  }
}

#posts {
  margin: 100px 0 0 0;
}

@media (max-width: 980px) {
  #posts {
    margin: 50px 0 0 0;
  }
}

#posts .text img {
  margin: 0 15%;
  width: 70%;
  max-width: 490px;
}

@media (max-width: 980px) {
  #posts .text img {
    margin: auto;
    width: 100%;
    max-width: 490px;
  }
}

#posts .text .right{
  text-align: right;
}

#posts .text .no-bullet{
  list-style: none;
}

#posts hr {
  margin: 15% 0 0;
}

div#pagination {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 1em;
  a {
    border-left-width: 1px;
  }
}

#signature {
  max-width: 1170px;
  padding: 20px;
  margin: auto;
}

h2 > .permalink {
  font-size: 13pt;
}

ol.notes {
  margin-top: 30px;
}

ol.notes li.note {
  border-top: solid 1px #EEE;
  padding: 7px;
  margin: 0;
  list-style-type: none;
}

div.MathJax_Display {
  margin: 0;
}

div.MathJax_Display .MathJax {
  font-size: 15px;
}

blockquote {
  padding: 5px 10px;
  border: solid 1px #ddd;
  margin: 15px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  color:  #333;
  p {
    font-color: #ccc;
    font-size: 14px;
    line-height: 24px;
  }
}

#post-description {
  margin-bottom: 15px;
}

#pagination > #previous {
  float: left;
}

#pagination > #next {
  float: left;
}

#pagination > #previous {
  float: right;
}

p {
  font-size: 14px;
  line-height: 23px;
}

li {
  line-height: 23px;
}

#cc {
  color: #777;
  font-size: 13px;
}

.author {
	text-align: right;
}

.entry-title {
    margin: 0;
    display: inline-block;
    font-size: 27px;
    padding-top: 5px;
}

.meta {
    display: inline-block;
    float: right;
}

.entry-content {
  border: 1px solid #CCC;
  padding: 30px 50px;
  margin-bottom: 30px;

  img.center {
    margin: 10px auto 30px;
    display: block;
  }

  .caption {
    text-align: center;
    margin: -3px 0 20px;
    font-size: 90%;
    font-weight: bold;
    color: #999;

    a {
      color: #999;
      text-decoration: underline;
    }
  }

  hr {
      margin-top: 35px;
  }

  ul, ol {
    margin: 3px 0 10px 5%;
  }
}

@media (max-width: 980px) {
  header {
    margin-bottom: 15px;
  }

  .entry-content {
    padding: 30px 15px;
  }

  .entry-title {
    display: block;
    right: 0;
    margin-top: 10px;
    float: none;
    font-size: 20px;
  }

  .meta {
    display: block;
    right: 0;
    margin-top: 10px;
    float: none;
  }
}


/* page footer */
footer {
  margin-top: 0;
  border-top: none;
  #intro {
    color: #575757;
    font-size: 12px;
    padding: 20px;
    text-align: center;
  }
}

#copyright {
  margin: 0 5px;
  p, a {
    font-size: 13px;
  }
}

#sociallinks {
  position: relative;
  display: inline-block;
  #fb {
    margin: 0 5px;
    width: 76px;
  }
  #tw {
    margin: 0 5px;
    display: inline-block;
  }
}

/* category pages */
.years {
  color: #97ca00;
  font-size: 37px;
  margin: 30px 0 10px;
}

/* index */
.blog-index, #blog-archives {
  h1 {
    display: inline-block;
  }
  header {
    margin-bottom: 10px;
  }
  .entry-content {
    border: none;
    padding: 0;
    margin-bottom: 50px;
  }
  .btn {
    float: right;
    margin-top: -50px;
  }
}

.footnotes p {
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}
